<div class="page-fold" id="product-section">
	<div class="row">
		<div class="centered">
			<section class="headline">
				<h3>Tracking social engagement. One student at a time.</h3>
				<p class="subheader centered">
					We're redefining the college experience. If you're like us and know that college is more than textbooks and tests, then Sweep is the perfect fit. Our platform helps you identify the success of students, clubs, organizations, staff, departments, and other groups participating in activities and events on campus. For some, studies are everything. We want to help you motivate the other 99%.
				</p>
			</section>
		</div>
	</div>
	<!-- End of Row -->
	<div class="badges centered">
		<div class="third">
			<div>
				<div class="mobile badge"></div>
				<h3>Mobile</h3>
				<p>A powerful and lightweight mobile application means no more buying, tracking, managing, or replacing expensive hardware devices.</p>
			</div>
		</div>
		<div class="first">
			<div>
				<div class="graph badge"></div>
				<h3>Analytics</h3>
				<p>Detailed-yet-simple analytical tools work seamlessly with your existing online engagement platform or as an independent suite.</p>
			</div>
		</div>
		<div class="second">
			<div>
				<div class="simple badge"></div>
				<h3>Simple, Period.</h3>
				<p>Seminars, teaching modules, and lengthy rollouts are a thing of the past. Sweep takes seconds to master - for both students and administrators.</p>
			</div>
		</div>
	</div>
	<!-- End of Badges -->
</div>
<div class="page-fold" id="contact-section">
	<div class="width-50 center">
	<%= form_for @message, url: { action: "create" } do |f| %>
		<% @message.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	   <% end %>
	   <div class="align-left" id="contact-left">
	   <article>
	   <p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
		</article>
	    <article>
	  <p>
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </p>
		</article>
		</div>
		<div class="align-left" id="contact-right">
	  <article>
	  <p>
	    <%= f.label :content, "Message" %><br />
	    <%= f.text_area :content %>
	  </p>
		</article>
	  <p><%= f.submit "Send Message" %></p>
	</div>
	<% end %>
	</div>
</div>
<!-- End of Contact Section -->

<div class="page-fold" id="about-section">
	<div class="abouts centered">
		<div class="first">
			<div>
				<div class="thomas about"></div>
				<h3>Thomas DeMeo</h3>
				<p>Thomas is the head of development at Sweep. With a degree in Computer Engineering at RIT, Thomas has built software systems and applications for his alma mater, his community, and some of the largest companies in the world. In his free time, Thomas loves cooking and traveling.</p>
			</div>
		</div>
		<div class="second">
			<div>
				<div class="ian about"></div>
				<h3>Ian Young</h3>
				<p>Ian is the head of operations for Sweep. Ian holds degrees in Economics and Finances from RIT, and has built both financial algorithms and sales strategies for a number of mutual funds, financial services firms, and large corporations. Ian enjoys making music and learning languages.</p>
			</div>
		</div>
	</div>
	<!-- End of Badges -->
	<!-- <div class="row"> -->
		<!--
		<div class="align-left" id="about-left">
			<article>
				Thomas DeMeo
			</article>
			<article class="align-left text-column" id="thomas">
				Thomas is the head of development at Sweep. With a degree in Computer Engineering at RIT, Thomas has built software systems and applications for his alma mater his community and some of the largest companies in the world. In his free time, Thomas loves cooking and traveling.
			</article>
		</div>
	
		<div class="align-right" id="about-right">
			<article>
				Ian Young
			</article>
			<article class="align-right text-column" id="ian">
				Ian is the head of operations for Sweep. Ian holds degrees in Economics and Finances from RIT, and has built both financial algorithms and sales strategies for a number of mutual funds, financial services firms, and large corporations. Ian enjoys making music and learning languages.
			</article>
		</div>
	</div>
	<!-- End of Row -->
</div>
<!-- End of About Section -->

<div class="page-fold" id="footer">
	<div class="footer centered">
		
		<div id="footer-nav" class="centered">
			<ul>
			
				<li><a href="#product-section">Product</a></li>
				
				<li><a href="#contact-section">Contact</a></li>
				
				<li><a href="#about-section">About</a></li>
		
			</ul>
		</div>
		
				<div class="copy right">
					<span>&copy 2013 Kanzu LLC. All rights reserved.</span>
				</div>
					
		
	</div>
</div>
<!-- End of Footer -->